h1 {
    color: grey;
    font-size: 300%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    color: grey;
    font-family: 'Muli', sans-serif;
    font-size: 200%;
    padding: 1em;
    margin-left: 155px;
}

h3 {
    color: grey;
    font-family: 'Muli', sans-serif;
    font-size: 70%;
    display: inline-block;
}

h4 {
    color: grey;
    font-size: 180%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
}

h5 {
    color: white;
    font-size: 80%;
}

body {
    background-color: white;
    margin: 0;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

header {
    height: 50px;
    padding: 0;
    margin: 0;
    color: white;
    background-color: white;
    clear: left;
}

footer {
    position: fixed;
    left: 0;
    bottom: -20px;
    width: 100%;
    padding: 20px;
    margin: 0;
    color: white;
    background-color: #77BFC7;
    clear: left;
}

form {
    margin-left: 170px;
    padding: 1em;
    overflow: hidden;
    display: flex;
    margin-top: 140px;
    margin-right: 400px;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: -1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

form input[type="checkbox"] {
    width: 20px;
    top: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #77BFC7;
}

.article-content {
    margin-left: 170px;
    font-family: 'Muli', sans-serif;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.about-content {
    margin-left: 72px;
    margin-top: 190px;
    padding-right: 15px;
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    display: flex;
}

.form-header {
    color: grey;
    font-family: 'Amatic SC', cursive;
    font-size: 145%;
    margin-left: 160px;
    padding-bottom: -10px;
}

.about-header {
    color: grey;
    font-family: 'Amatic SC', cursive;
    font-size: 145%;
    margin-left: 55px;
    padding-bottom: -10px;
}

.content {
    margin: 0;
    margin-top: 90px;
    margin-bottom: -50px;
}

.share {
    display: flex;
    float: right;
    margin-top: -50px;
    margin-right: 50px;
}

.social {
    width: 40px;
    height: 40px;
}

.side-image {
    padding-left: -50px;
    margin-left: 10px;
    float: left;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    font-family: 'Amatic SC', cursive;
    border: 1px solid #888;
    width: 36%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.login-buttons {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}

.logged-buttons {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}

.menu {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

.menu:hover {
    background-color: #95DDE5;
}
article:hover{
    background-color: #CDFDF6;
}